{% extends "base.html" %} {% block title %}Welcome{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %} {% with messages = get_flashed_messages() %} {% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}

<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">

        </header>

        <main role="main" class="inner cover">
            <p class="lead">
                <a class="btn btn-primary btn-lg " id="final" onclick='downloadData(id, "downloadSite")' role="button ">Save</a>
                <!--
                <form method="post" action="/downloadSite">
                    <button type="submit" class="btn btn-primary btn-lg">Download Your Site Here!</button>
                </form>
            -->
            </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
            </div>
        </footer>
    </div>



</body>



{% endblock %}