{% extends "base.html" %} {% block title %}Welcome{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %} {% with messages = get_flashed_messages() %} {% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endwith %}

<body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">Cover</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Contact</a>
                </nav>
            </div>
        </header>

        <main role="main" class="inner cover">
            <h1 class="cover-heading">Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg " id="final" onclick='downloadData(id, "downloadSite")' role="button ">Save</a>
                <!--
                <form method="post" action="/downloadSite">
                    <button type="submit" class="btn btn-primary btn-lg">Download Your Site Here!</button>
                </form>
            -->
            </p>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>Cover template for <a href="https://getbootstrap.com/">Rapid Site Prototyper</a>, by <a href="https://twitter.com/mdo">@gmorton</a>.</p>
            </div>
        </footer>
    </div>



</body>



{% endblock %}